* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
}

#page-wrapper {
    position: relative;
}

body{ 
    background-color: rgb(189, 203, 202);
}

h2 {
    padding-top: 40px;
    text-align: center;
    font-family: -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        'Roboto',
        'Helvetica Neue',
        Arial,
        sans-serif;
    margin: 20px 20px 20px -50px;
    font-size: 30px;
    color: black;
    -webkit-text-stroke: 1px black;
}

main li>a {
    color: inherit;
    text-decoration: none;
}

main {
    padding-top: 50px;
    background-color: rgb(189, 203, 202);
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Helvetica Neue', Arial, sans-serif;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
    color: #333;
}

#image {
    max-width: 100%;
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
    border: 1px solid black;
    justify-content: center;
}

#img-caption {
    color: black;
    text-align: center;
}

.cita {
    text-align: center;
    font-style: italic;
    font-size: 20px;
    color: black;
    position: relative;
    margin: 10px;
}

#tribute-info {
    margin: 20px auto auto 60px;
}

main ul {
    max-width: 1000px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

main li {
    margin: 16px 0;
}

p {
    max-width: 1000px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
}

/* Navbar */

.navbar {
    background: rgb(245, 245, 245);
    height: 80px;
    align-items: center;
    font-size: 0.8rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-around;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.nav-link {
    color: #000;
    text-decoration: none;
    font-size: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 135px;
    text-decoration: none;
    height: 80px;
    margin: auto;
    transition: all 0.3s ease;
}

.nav-link:hover {
    background-color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 30px;
    margin: auto;
    padding: auto;
    transition: all 0.5s;
    width: 160px;
    height: 80px;
}


#navbar__logo {
    background: black;
    background-size: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

#navbar__logo img {
    margin-right: 1.2rem;
    width: 6%;
}

.navbar__menu {
    list-style: none;
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: auto;
}

footer {
    background-color: rgb(245, 245, 245);
    padding: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
                'Helvetica Neue', Arial, sans-serif;
            font-size: 20px;
}

/* Responsive */

@media screen and (max-width: 960px) {

    main{
        padding: 0;
        margin: 0;
    }

    main ul {
            max-width: 1000px;
            margin: 0;
            text-align: left;
            line-height: 1.6;
    }

    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: rgb(245, 245, 245);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 70vw;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: black;
    }

    .nav-link {
        text-align: center;
        padding: 1em;
        width: 100%;
        display: table;
        font-size: 1rem;
    }

        .nav-link:hover {
        text-align: center;
        padding: 1em;
        width: 100%;
        display: table;
        font-size: 1rem;
        color: #000;
        background-color: transparent;
        }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    /* La transicion de la hamburguesa */
    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}
